body {
	font-family:"ScoutCond";
}

@property --main-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #003085;
}

@property --secondary-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #F2C933;
}

@property --text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #FFFFFF;
}

@property --secondary-text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #000000;
}