body {
	margin:0 auto;
	padding:0 auto;
	font-family:"ScoutCond";
	font-size: 40px;
	color:var(--text-color);
	text-align:center;
	text-transform:uppercase;
}

.title{
	font-style:normal;
	font-weight:900;
	font-size:60px;
	color:var(--text-color);
	position:absolute;
	text-align:right;
	top:40px;
	left:74px;
	height:40px;
	line-height:32px;
	width:1772px;
}

.subtitle{
	font-style:normal;
	font-weight:300;
	font-size:40px;
	color:var(--text-color);
	position:absolute;
	text-align:right;
	letter-spacing:1px;
	top:90px;
	left:74px;
	height:40px;
	line-height:32px;
	width:1772px;
}

.corner {
	width:1920px;
	height:1080px;
	position:absolute;
}

.c1 {
	position:absolute;
	top:40px;
	width:40px;
	height:80px;
	background-color:var(--main-color);
}

.c2 {
	float:right;
	margin-top:40px;
	width:40px;
	height:80px;
	background-color:var(--secondary-color);
}

.partners {
	width:1920px;
	height:1080px;
	background-image:url("../GFX/2D/TOP LAYER/Partners.png");
}