@import url('./default.css');

.name {
	position:relative;
	width:334px;
	height:80px;
	margin-left:10px;
	z-index:1;
	font-style:italic;
	line-height:76px;
	text-align:left;
	font-size:38px;
	float:left;
}

.logo {
	position:relative;
	width:80px;
	height:80px;
	z-index:1;
	background-size:60px 60px;
	background-repeat:no-repeat;
	background-position:center;
	float:left;
}

.score {
	position:relative;
	float:right;
	top:18px;
	width:40px;
	height:40px;
	line-height:38px;
	font-size:40px;
	text-align:center;
	z-index:1;

}

.match {
	display:grid;
	grid-template-columns:80px 334px 40px;
	font-family:"Scoutcond Black";
	font-weight:700;
	position:absolute;
	border-left:6px solid var(--main-color);
	height:160px;
	width:474px;
	background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.6) 100%);
}

.match1, .match2, .match3, .match4 {
	left:80px;
}

.match7 {
	left:1360px;
}

.match5, .match6 {
	left:720px;
}

.match1 {
	top:200px;
}

.match2 {
	top:400px;
}

.match3 {
	top:600px;
}

.match4 {
	top:800px;
}

.match5 {
	top:300px;
}

.match6 {
	top:700px;
}

.match7 {
	top:500px;
}

.line {
	position:absolute;
}

.line1, .line2, .line4 {
	border-top:6px solid var(--main-color);
}

.line1 {
	top:376px;
	width:80px;
	left:640px;
}

.line2 {
	top:776px;
	width:80px;
	left:640px;
}

.line3, .line05, .line15 {
	border-top:6px solid var(--main-color);
	border-bottom:6px solid var(--main-color);
	border-right:6px solid var(--main-color);
}

.line05 {
	top:276px;
	width:76px;
	height:195px;
	left:560px;
}

.line15 {
	top:676px;
	width:76px;
	height:195px;
	left:560px;
}

.line3 {
	top:376px;
	width:76px;
	height:396px;
	left:1200px;
}

.line4 {
	top:576px;
	width:80px;
	left:1280px;
}

@keyframes opacityreveal {
  0% { opacity:0; }
  100% { opacity:1; }
}
